Source: beyond
Maintainer: Sungjae Park <nicesj@nicesj.com>
Section: libs
Priority: optional
Standards-Version: 0.0.1
Build-Depends: debhelper (>= 9)

Package: beyond
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Distributed AI Framework
 Distributed AI Framework

Package: beyond-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Development files for Distributed AI Framework
 Including headers and package configuration files

Package: beyond-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plugins
 Provide beyond plugins

Package: beyond-plugins-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Development files for Plugins
 Including headers for the plugin specific definitions
 Including package configuration files for compiling applications with plugin header files systemtically

Package: beyond-samples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Samples to show how to use the generic C API set of the BeyonD framework
 Including a sample application developed using the generic C API set
