<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.android.beyond">
    <uses-permission android:name="android.permission.INTERNET" />
    <instrumentation android:targetPackage="com.samsung.android.beyond.test"
        android:name="android.test.InstrumentationTestRunner" />
</manifest>
